<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    bean definitions here-->


<!--    Creates MHawk Object-->
    <bean id="MHawk" class="org.example.MHawk"></bean>

    <bean id="KSeries" class="org.example.KSeries"></bean>



    <!--    Creates Car Object-->
    <bean id="Car" class="org.example.Car">


<!--       DI by setter method-->
        <property name="engine"  ref="MHawk" ></property>

<!--       DI by constructer-->
<!--        <constructor-arg  name="engine" ref="KSeries"></constructor-arg>-->

    </bean>

</beans>

