body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.game-container{
   max-width: 600px;
   margin: auto;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 15px black;
   background-color: white;

}


.colour-grid{
    display: grid;
}